/* Ẩn Dấu Chấm của List*/
ul {
    list-style: none;
}

/* Dat Lai Khoảng Cách Của Tất Cả Element */
* {
    padding: 0;
    margin: 0;
}

/* Thuộc Tính Của Menu Cấp 0*/
.nav {
    display: flex;
    background-color: #1B4F72;
}

.nav .nav-item {
    background-color: #1B4F72;
    color: #FFF;
    padding: 5px 10px;  
    position: relative;
}

.nav .nav-item:hover {
    background-color: #17A589;
}

.nav .nav-item:hover .nav-child{
    display: block;
}

.nav-child{
    display: none;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
}

.nav-child .nav-child-item {
    background-color: #1B4F72;
    color: #FFF;
    padding: 5px 10px;  
    position: relative;
}

.nav-child .nav-child-item:hover {
    background-color: #17A589;
}

.nav-child .nav-child-item:hover .nav-sub{
    display: block;
}

.nav-sub {
    display: none;
    position: absolute;
    width: 150px;
    top: 0;
    left: 100%;
}

.nav-sub-item {
    background-color: #1B4F72;
    color: #FFF;
    padding: 5px 10px;  
}

.nav-sub .nav-sub-item:hover {
    background-color: #17A589;
}